<div class="container mt-3">
  <h2>Write unhinged tweet</h2>
  <%= simple_form_for @tweet do |f| %>
    <%= f.input :long, placeholder: "Paste your long text", required: true %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, "Create Tweet", class: "btn btn-danger" %>
  <% end %>
</div>
